<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Booking - Billing</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Tailwind CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" />

    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: #f8fafc;
            color: #1a1a1a;
            margin-bottom: 50px;
        }

        .navbar {
            background-color: #4caf50;
        }

        .container {
            margin-top: 20px;
            text-align: center;
        }

        .availability-info {
            text-align: center;
            padding: 20px;
            border-radius: 10px;
            background-color: #4caf50;
            color: #fff;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
        }

        .pricing-table {
            margin-top: 20px;
            color: #000;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
        }

        .total-cost-row {
            font-weight: bold;
        }

        .billing-section {
            margin-top: 20px;
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
        }

        .billing-header {
            font-size: 24px;
            font-weight: bold;
            border-bottom: 2px solid #ccc;
            padding-bottom: 10px;
            margin-bottom: 20px;
        }

        .billing-details {
            margin-bottom: 10px;
        }

        .quantity-input {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .quantity-input input {
            text-align: center;
            width: 50px;
            margin: 0 5px;
            /* Set text color to black */
        }



        .total-amount {
            margin-top: 20px;
            font-size: 18px;
            font-weight: bold;
        }


        #free_normal,
        #free_dry {
            color: black;
        }

        
    </style>
</head>

<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'dashboard' %}">Back to Dashboard</a>
        </div>
    </nav>

    <div class="container">

        <!-- Machine Availability Info -->
        <div class="availability-info">
            <h3 class="text-lg font-semibold mb-4">Machine Availability</h3>
            <div class="flex justify-center">
                <div class="bg-white p-4 rounded-md shadow-md">
                    <p id="free_dry" class="mb-2">Dry Cleaning Machines: {{ free_machines.dry_cleaning_free }}</p>
                    <p id="free_normal" class="mb-2">Normal Machines: {{ free_machines.normal_cleaning_free }}</p>
                </div>
            </div>
        </div>

        <!-- Price Rates Table -->
        <form method="post" action="{% url 'create_booking' %}"
            class="bg-white p-4 rounded-md shadow-md billing-section">
            {% csrf_token %}
            <div class="pricing-table">
                <h3 class="text-lg font-semibold mb-4">Billing</h3>
                <table class="table table-bordered table-dark">
                    <thead>
                        <tr>
                            <th>Laundry Type</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total Cost</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Dry Cleaning</td>
                            <td id="dry_price">{{ price_data.price_rates.dry_cleaning }}</td>
                            <td class="quantity-input">
                                <button type="button" onclick="decrementQuantity('dry_quantity')"
                                    class="btn btn-outline-success"><span class="incrementicon">-</span></button>
                                <input type="number" name="dry_quantity" id="dry_quantity" min="0" max="10" value="0"
                                    required class="form-control" />
                                <button type="button" onclick="incrementQuantity('dry_quantity')"
                                    class="btn btn-outline-success"><span class="incrementicon">+</span></button>
                            </td>
                            <td id="dryTotal"></td>
                        </tr>
                        <tr>
                            <td>Clothes</td>
                            <td id="clothes_price">{{ price_data.price_rates.clothes }}</td>
                            <td class="quantity-input">
                                <button type="button" onclick="decrementQuantity('clothes_quantity')"
                                    class="btn btn-outline-success"><span class="incrementicon">-</span></button>
                                <input type="number" name="clothes_quantity" id="clothes_quantity" min="0" max="10"
                                    value="0" required class="form-control" />
                                <button type="button" onclick="incrementQuantity('clothes_quantity')"
                                    class="btn btn-outline-success"><span class="incrementicon">+</span></button>
                            </td>
                            <td id="clothesTotal"></td>
                        </tr>
                        <tr>
                            <td>Shoes</td>
                            <td id="shoes_price">{{ price_data.price_rates.shoes }}</td>
                            <td class="quantity-input">
                                <button type="button" onclick="decrementQuantity('shoes_quantity')"
                                    class="btn btn-outline-success"><span class="incrementicon">-</span></button>
                                <input type="number" name="shoes_quantity" id="shoes_quantity" min="0" max="10"
                                    value="0" required class="form-control" />
                                <button type="button" onclick="incrementQuantity('shoes_quantity')"
                                    class="btn btn-outline-success"><span class="incrementicon">+</span></button>
                            </td>
                            <td id="shoesTotal"></td>
                        </tr>
                        <tr>
                            <td>Bags</td>
                            <td id="bags_price">{{ price_data.price_rates.bags }}</td>
                            <td class="quantity-input">
                                <button type="button" onclick="decrementQuantity('bags_quantity')"
                                    class="btn btn-outline-success"><span class="incrementicon">-</span></button>
                                <input type="number" name="bags_quantity" id="bags_quantity" min="0" max="10" value="0"
                                    required class="form-control" />
                                <button type="button" onclick="incrementQuantity('bags_quantity')"
                                    class="btn btn-outline-success"><span class="incrementicon">+</span></button>
                            </td>
                            <td id="bagsTotal"></td>
                        </tr>
                        <tr class="total-cost-row">
                            <td colspan="3">Total Cost</td>
                            <td id="totalCost"></td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <button type="button" id="calculateTotalBtn" class="btn btn-success" onclick="calculateTotal()">Calculate
                Total</button>
            <div class="bg-light-pink">
            <div class="billing-header text-center mb-4">Billing Details</div>

            <div class="billing-details row align-items-center mb-3">
                <label class="col-md-3 col-form-label text-primary">Customer ID:</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" id="customer_id" name="customer_id" required>
                </div>
            </div>

            <div class="billing-details row align-items-center mb-3">
                <label class="col-md-3 col-form-label text-primary">Date:</label>
                <div class="col-md-9">
                    <span class="text-success">{{ today }}</span>
                </div>
            </div>

            <div class="billing-details row align-items-center mb-3">
                <label class="col-md-3 col-form-label text-primary">Time:</label>
                <div class="col-md-9" id="currentTime"></div>
            </div>

            <div class="billing-details row align-items-center">
                <label class="col-md-3 col-form-label text-primary">Total Amount:</label>
                <div class="col-md-9">
                    ₹<span id="totalAmount" class="text-danger">0.00</span>
                </div>
            </div>

 

    <button type="submit" class="btn btn-primary mt-3">Create Booking</button>
            <div>

    </form>

    </div>

    <!-- Bootstrap JS and Popper.js -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <script>
        // Function to update the clock
        function updateClock() {
            const currentTimeElement = document.getElementById('currentTime');
            if (currentTimeElement) {
                const currentTime = new Date().toLocaleTimeString('en-IN', { timeZone: 'Asia/Kolkata' });
                currentTimeElement.innerText = currentTime;
            }
        }

        // Update the clock every second
        setInterval(updateClock, 1000);

        // Declare quantities object here
        const quantities = {
            'dry': 0,
            'clothes': 0,
            'shoes': 0,
            'bags': 0,
        };

        // Function to update total cost when quantity changes
        function updateTotalCost(priceId, totalId) {
            const quantity = quantities[priceId];
            const priceElement = document.getElementById(priceId + '_price');

            if (priceElement) {
                const price = parseFloat(priceElement.textContent);
                const total = price * quantity;
                document.getElementById(totalId).innerText = total.toFixed(2);
                updateOverallTotal();
            } else {
                console.error('Price element not found for ID:', priceId);
            }
        }

        // Function to update the overall total cost
        function updateOverallTotal() {
            const dryTotal = parseFloat(document.getElementById('dryTotal').innerText) || 0;
            const clothesTotal = parseFloat(document.getElementById('clothesTotal').innerText) || 0;
            const shoesTotal = parseFloat(document.getElementById('shoesTotal').innerText) || 0;
            const bagsTotal = parseFloat(document.getElementById('bagsTotal').innerText) || 0;

            const overallTotal = dryTotal + clothesTotal + shoesTotal + bagsTotal;
            document.getElementById('totalCost').innerText = overallTotal.toFixed(2);

            // Update total amount in billing details
            document.getElementById('totalAmount').innerText = overallTotal.toFixed(2);
        }

        // Add event listener for the "Calculate Total" button
        document.getElementById('calculateTotalBtn').addEventListener('click', function () {
            calculateTotal();
        });

        // Add event listeners for quantity input changes
        document.addEventListener('input', function (event) {
            const target = event.target;
            const name = target.name;

            if (name.endsWith('_quantity')) {
                const priceId = name.replace('_quantity', '');
                const totalId = priceId + 'Total';

                quantities[priceId] = parseFloat(target.value) || 0;

                updateTotalCost(priceId, totalId);
            }
        });

        // Function to increment quantity
        function incrementQuantity(quantityId) {
            const quantityInput = document.getElementById(quantityId);
            if (quantityInput) {
                quantityInput.value = parseInt(quantityInput.value) + 1;
                updateTotalCost(quantityId.replace('_quantity', ''), quantityId.replace('quantity', 'Total'));
            }
        }

        // Function to decrement quantity
        function decrementQuantity(quantityId) {
            const quantityInput = document.getElementById(quantityId);
            if (quantityInput && parseInt(quantityInput.value) > 0) {
                quantityInput.value = parseInt(quantityInput.value) - 1;
                updateTotalCost(quantityId.replace('_quantity', ''), quantityId.replace('quantity', 'Total'));
            }
        }

        // Function to calculate total
        function calculateTotal() {
            // Loop through each price type and update the total
            for (const priceId in quantities) {
                const totalId = priceId + 'Total';
                updateTotalCost(priceId, totalId);
            }
        }
    </script>
</body>

</html>